*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: inter;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
}

aside{
    min-width: 240px;
    width: 20%;
    height: 100%;
    padding: 24px 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(231, 230, 230);
}

main{
    width: 80%;
    height: 100%;
    padding: 22px 37px 0 37px;
    display: flex;
    flex-direction: column;
    gap: 26px;
}

header{
    width: 100%;
    height: 56px;
}

main header p{
    display: flex;
    justify-content: space-between;
}

section{
    width: 100%;
    display: flex;
    gap: 45px;
    flex-wrap: wrap;
}

section .album{
    width: 188px;
    height: 272px;
    padding: 16px;
    border-radius:4px ;
    background-color: #F9FAFB;
}

.album-info{
    width: 100%;
    margin-top: 16px;
}
.album-info h3{
    font-size: 16px;
}

.album-info p{
    font-size: 14px;
    color: #6B7280;
    margin-bottom: 6px;
}

.logo{
    height:40px; 
    margin-bottom: 20px;
    padding: 0 16px;
}

.menu-1{
    height:120px;
    margin-bottom: 24px;
}

.link{
    width: 100%;
    height: 40px;
    padding: 8px 16px;

}
.link a{
    display: flex;
    align-items: center;
    gap: 12px;
    text-decoration: none;
    color:#6B7280;
}

.link-home a{
    width: 100%;
    height: 40px;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    gap: 12px;
    text-decoration: none;
    color:#6B7280;
    background-color: #fff;
}

.menu-2{
    height: 80px;
    margin-bottom: 17px;
}

hr{
    margin: 8px 16px;
    border: 1px solid #E5E7EB;
}

.welcome{
    height: 32px;
    padding: 6px 16px;
}

.install-app{
    height: 40px;
}




